<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.stamp.wp4.dspot.wizard.utils.DSpotWizardHandler"
            id="eu.stamp.wp4.dspot.menu.wizard.command1"
            name="Open Dspot Wizard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="DSpot.menu1"
               label="STAMP">
            <command
                  commandId="eu.stamp.wp4.dspot.menu.wizard.command1"
                  label="DSpot"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <reference
                           definitionId="com.dspot.menu.wizard.hasNature">
                     </reference>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               id="DSpot.menu2"
               label="STAMP">
            <command
                  commandId="eu.stamp.wp4.dspot.menu.wizard.command1"
                  label="DSpot"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <reference
                           definitionId="com.dspot.menu.wizard.hasNature">
                     </reference>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="DSpot.menu3"
               label="STAMP">
            <command
                  commandId="eu.stamp.wp4.dspot.menu.wizard.command1"
                  label="DSpot"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.views">
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.stamp.wp4.dspot.wizard.PerspectiveFactory1"
            id="com.dspot.menu.wizard.perspective1"
            name="name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.dspot.menu.wizard.hasNature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.eclipse.m2e.core.maven2Nature">
            </test>
         </adapt>
      </definition>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="eu.stamp.wp4.dspot.execution.launch.DSpotLaunchConfigurationDelegate"
            id="eu.stamp.launchConfigurationDSpot"
            modes="run, debug"
            name="DSpot Launch Configuration">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eu.stamp.wp4.dspot.menu.wizard.command1"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="eu.stamp.wp4.dspot.execution.launch.ui.DSpotLaunchConfigurationTabGroup"
            id="eu.stamp.wp4.dspot.wizard.launchConfigurationTabGroup"
            type="eu.stamp.launchConfigurationDSpot">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
