<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.stamp.wp4.dspot.wizard.utils.DSpotWizardHandler"
            name="Open Dspot Wizard"
            id="eu.stamp.wp4.dspot.menu.wizard.command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               commandId="eu.stamp.wp4.dspot.menu.wizard.command"
               id="stamp.menu.package"
               label="STAMP">
            <command
                  commandId="eu.stamp.wp4.dspot.menu.wizard.command"
                  label="DSpot"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <reference
                           definitionId="com.dspot.menu.wizard.hasNature">
                     </reference>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               commandId="eu.stamp.wp4.dspot.menu.wizard.command"
               id="stamp.menu.project"
               label="STAMP">
            <command
                  commandId="eu.stamp.wp4.dspot.menu.wizard.command"
                  label="DSpot"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <reference
                           definitionId="com.dspot.menu.wizard.hasNature">
                     </reference>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               commandId="eu.stamp.wp4.dspot.menu.wizard.command"
               id="stamp.menu.main"
               label="STAMP">
            <command
                  commandId="eu.stamp.wp4.dspot.menu.wizard.command"
                  label="DSpot"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="DSpot.runtime.apliction"
         name="DSpot Runtime Aplication"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.stamp.category"
            name="STAMP">
      </category>
      <view
            category="eu.stamp.category"
            class="eu.stamp.wp4.dspot.view.DSpotView"
            id="eu.stamp.wp4.dspot.wizard.view"
            inject="true"
            name="DSpot Properties"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="name"
            class="eu.stamp.wp4.dspot.wizard.PerspectiveFactory1"
            id="com.dspot.menu.wizard.perspective1">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.dspot.menu.wizard.hasNature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.eclipse.m2e.core.maven2Nature">
            </test>
         </adapt>
      </definition>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="DSpot"
            delegate="eu.stamp.wp4.dspot.execution.launch.DSpotEclipseLaunchConfigurationDelegate"
            modes="run, debug"
            id="eu.stamp.launchEclipseConfigurationDSpot">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eu.stamp.wp4.dspot.menu.wizard.command"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="eu.stamp.launchEclipseConfigurationDSpot"
            class="eu.stamp.wp4.dspot.execution.launch.ui.DSpotLaunchConfigurationTabGroup"
            id="eu.stamp.wp4.dspot.wizard.launchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
